@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "catppuccin-macchiato";
  default: true;
  prefersdark: true;
  color-scheme: "catppuccin-macchiato";

  --color-base-100: #24273a;
  --color-base-200: #1e2030;
  --color-base-300: #181926;
  --color-base-content: #cad3f5;
  --color-primary: #c6a0f6;
  --color-primary-content: #cad3f5;
  --color-secondary: #7dc4e4;
  --color-secondary-content: #cad3f5;
  --color-accent: #c6a0f6;
  --color-accent-content: #181926;
  --color-neutral: #8bd5ca;
  --color-neutral-content: #181926;
  --color-info: #8aadf4;
  --color-info-content: #cad3f5;
  --color-success: #a6da95;
  --color-success-content: #181926;
  --color-warning: #eed49f;
  --color-warning-content: #181926;
  --color-error: #ed8796;
  --color-error-content: #cad3f5;

  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}